<section class="item-form" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "SHIP_WEAPON.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item active" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab active" data-group="primary" data-tab="data">
            <div class="stats border">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat class">
                        <label>{{localize "SHIP_WEAPON.CLASS"}}</label>
                        <select name="system.class">
                            {{{selectOptions options.shipWeaponClassOptions selected=system.class}}}
                        </select>
                    </div>
                    <div class="stat range">
                        <label>{{localize "SHIP_WEAPON.RANGE"}}</label>
                        <input name="system.range" type="number" value="{{system.range}}" data-dtype="Number" />
                    </div>
                    <div class="stat strength">
                        <label>{{localize "SHIP_WEAPON.STRENGTH"}}</label>
                        <input name="system.strength" type="number" value="{{system.strength}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat damage">
                        <label>{{localize "SHIP_WEAPON.DAMAGE"}}</label>
                        <input name="system.damage" type="text" value="{{system.damage}}" />
                    </div>
                    <div class="stat critRating">
                        <label>{{localize "SHIP_WEAPON.CRIT_RATING"}}</label>
                        <input name="system.critRating" type="number" value="{{system.critRating}}" />
                    </div>
                    <div class="stat rateOfFire">
                        <label>{{localize "SHIP_WEAPON.ROF"}}</label>
                        <input name="system.rof" type="number" value="{{system.rof}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat power">
                        <label>{{localize "SHIP_ITEM.POWER"}}</label>
                        <input name="system.power" type="number" value="{{system.power}}" />
                    </div>
                    <div class="stat space">
                        <label>{{localize "SHIP_ITEM.SPACE"}}</label>
                        <input name="system.space" type="number" value="{{system.space}}" />
                    </div>
                    <div class="stat points">
                        <label>{{localize "SHIP_ITEM.POINTS"}}</label>
                        <input name="system.shipPoints" type="number" value="{{system.shipPoints}}" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat craftsmanship">
                        <label>{{localize "WEAPON.CRAFTSMANSHIP"}}</label>
                        <select name="system.craftsmanship">
                            {{{selectOptions options.craftsmanshipOptions selected=system.craftsmanship}}}
                        </select>
                    </div>
                    <div class="stat availability">
                        <label>{{localize "WEAPON.AVAILABILITY"}}</label>
                        <select name="system.availability">
                            {{{selectOptions options.availabilityOptions selected=system.availability}}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 100%; width: 100%">
                    {{editor item.descriptionHTML target="system.description" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
    </div>
</section>